{% include 'base.html' %}
{% block content %}
<div class="container">
{% if post == None %}
<h2>Create a post!</h2>
{% else %}
<h2>Edit "{{post.title}}"!</h2>
{% endif %}
    <form class="form-horizontal" method="POST" action="" name="newpost">
        <div class="form-group">
            <label for="title" class="col-md-2 control-label">Title:</label>
            <div class="col-md-6">
                <input class="form-control" name="title" value="{{post.title}}">
            </div>
        </div>
        <div class="form-group">
            <label for="summary" class="col-md-2 control-label">Summary:</label>
            <div class="col-md-10">
                <input class="form-control" name="summary" value="{{post.summary}}">
            </div>
        </div>
        <div class="form-group">
            <label for="body" class="col-md-2 control-label">Page body:</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="10" name="body">{{post.body}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="page_type" class="col-md-2 control-label">Page type:</label>
            <div class="col-md-4">
                <select class="form-control" name="page_type" value="{{post.page_type}}">
                {% for type in page_types %}
                <option>{{type}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="author" class="col-md-2 control-label">Author:</label>
            <div class="col-md-4">
                <input class="form-control" name="author" value="{{post.author}}">
            </div>
            <div class="checkbox col-md-2">
            {% if post.draft == "draft" %}
                <label><input type="checkbox" name="draft" value="draft" checked>Save as draft</label>
            {% else %}
                <label><input type="checkbox" name="draft">Save as draft</label>
            {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="datestamp_day" class="col-md-2 control-label">Day:</label>
            <div class="col-md-1">
                <input class="form-control" name="datestamp_day" value="{{publication_time.day}}">
            </div>
            <label for="datestamp_month" class="col-md-2 control-label">Month:</label>
            <div class="col-md-1">
                <input class="form-control" name="datestamp_month" value="{{publication_time.month}}">
            </div>
            <label for="datestamp_year" class="col-md-2 control-label">Year:</label>
            <div class="col-md-2">
                <input class="form-control" name="datestamp_year" value="{{publication_time.year}}">
            </div>
        </div>
        <h3>Related links</h3>
        <div class="form-group">
        <div class="col-md-2">
        </div>
            <label for="rel_link1" class="control-label sr-only">Related link</label>
            <div class="col-md-4">
                <input class="form-control" name="rel_link1" value="{{post.rel_link1}}" placeholder="Related link">
            </div>
            <label for="rel_title1" class="control-label sr-only">Link title</label>
            <div class="col-md-4">
                <input class="form-control" name="rel_title1" value="{{post.rel_title1}}" placeholder="Link title">
            </div>
        </div>
        <div class="form-group">
        <div class="col-md-2">
        </div>
            <label for="rel_link2" class="control-label sr-only">Related link</label>
            <div class="col-md-4">
                <input class="form-control" name="rel_link2" value="{{post.rel_link2}}" placeholder="Related link">
            </div>
            <label for="rel_title2" class="control-label sr-only">Link title</label>
            <div class="col-md-4">
                <input class="form-control" name="rel_title2" value="{{post.rel_title2}}" placeholder="Link title">
            </div>
        </div>
        <div class="form-group">
        <div class="col-md-2">
        </div>
            <label for="rel_link3" class="control-label sr-only">Related link</label>
            <div class="col-md-4">
                <input class="form-control" name="rel_link3" value="{{post.rel_link3}}" placeholder="Related link">
            </div>
            <label for="rel_title3" class="control-label sr-only">Link title</label>
            <div class="col-md-4">
                <input class="form-control" name="rel_title3" value="{{post.rel_title3}}" placeholder="Link title">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Save!</button>
    </form>
</div>
{% endblock %}